In [ ]:
# https://www.codewars.com/kata/5a2fd38b55519ed98f0000ce

def multi_table(number):
    n = 1
    result = ''
    while n < 11:
        string = f'{n} * {number} = {n*number}'
        result += string + "\n"
        n+=1
    return result[:-1]